<h1>Create Your Legendary Weapon</h1> 

<%= render partial: 'layouts/errors', locals: {object: @inventory_item} %> 

<%= form_with model: @inventory_item, local: true do |f| %> 
  <p>
    <%= f.label :weapon_type, "Weapon Type:" %>
    <%= f.collection_select(:weapon_id, Weapon.all, :id, :weapon_type, prompt: 'Select weapon type') %><br>
  </p>
  <%= f.hidden_field :champion_id, value: params[:champion_id] %> 
  <p>
    <%= f.label :weapon_name, "Weapon Name:" %> 
    <%= f.text_field :weapon_name %><br>
  </p>

  <%= f.submit "Submit Weapon Name" %> 
  <br>
<% end %> 