<h1>Inventory Creation</h1> 

# <% if @inventory_item.errors.any? %>
#     <ul>
#       <% @inventory_item.errors.full_messages.each do |msg| %>
#         <li><%= msg %></li>
#       <% end %>
#     </ul>
#   </div>
# <% end %>

<%= form_with model: inventory_item, local: true do |f| %> 
  <%= f.label :weapon_count, "How many weapons does your champion have?" %> 
  <%= f.text_field :weapon_count %><br>

  <%= f.submit "Submit Weapon Count" %> 
<% end %> 