<h1>Give Your Weapon a Legendary Name</h1> 

<% if @inventory_item.errors.any? %>
    <ul>
      <% @inventory_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @inventory_item, local: true do |f| %> 
  <p>
    <%= f.label :weapon_type, "Weapon Type:" %>
    <%= f.collection_select(:weapon_id, Weapon.all, :id, :weapon_type, prompt: 'Select weapon type') %><br>
  </p>
  <%= f.hidden_field :champion_id, value: params[:champion_id] %> 
  <p>
    <%= f.label :weapon_name, "Weapon Name:" %> 
    <%= f.text_field :weapon_name %><br>
  </p>

  <%= f.submit "Submit Weapon Name" %> 
  <br>
<% end %> 