<h1>New User Sign Up</h1>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %> 
    <p class="error"><%= message %></p>
  <% end %> 
<% end %> 

<%= form_with model: @user, local: true do |f| %>
  <p> 
    <%= f.label :name, "Your Name:" %> 
    <%= f.text_field :name %><br>
    <br>
  </p>
  <p>
    <%= f.label :password, "Your Password:" %> 
    <%= f.password_field :password %><br>
    <br>
  </p>
  
  <%= f.submit "Sign Up" %>
<% end %> 