<h1>Create a New Weapon</h1>

<%= form_with model: @weapon, local: true do |f| %> 
  <%= f.label :weapon_type, "Weapon Type:" %>
  <%= f.hidden_field :champion_id %> 
  <%= f.text_field :weapon_type %><br>
  <br>
  <%= f.submit "Create Weapon" %> 
<% end %><br>

<%= link_to "Your Weapons", weapons_path %>