<h1>Create a New Weapon</h1>

<%= form_with model: @weapon, local: true do |f| %> 
  <%= f.label :weapon_type, "Weapon Type:" %>
  <%= f.text_field :weapon_type %><br>
  <br>
  <label>Select champ: </label>
  <%= f.collection_check_boxes :champion_ids, Champion.all, :id, :name %>
  <%= f.submit "Create Weapon" %> 
<% end %><br>

<%= link_to "Your Weapons", weapons_path %>