<h1>Create a New Weapon</h1>

<%= form_with model: weapon, local: true do |f| %> 
  <%= f.label :weapon_type, "Weapon Type:" %>
  <%= f.text_field :weapon_type %><br>
  <br>
  <%= f.label :weapon_name, "Weapon Name:" %> 
  <%= f.text_field :weapon_name %><br>
  <br>
  <%= f.submit "Create Weapon" %> 
<% end %> 

<%= link_to "Your Weapons", weapons_path %> 
<%= link_to "Champion", champion_path(@champion) %> 