<h1><%= @weapon.weapon_name %></h1>

<%= @weapon.type %><br>
<br>

<%= link_to "Delete Weapon", 'weapon_path(@weapon)', :method => "Delete" %><br>

<%= link_to "Your Weapons", weapons_path %>
<%= link_to "Your Champions", champions_path %> 