<% if @champion.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@champion.errors.count, "error") %> prohibited this champion from being saved:</h3>
    <ul>
      <% @champion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: champion, local: true do |f| %> 
  <p>
    <%= f.label :name, "Champion Name: " %>
    <%= f.text_field :name %><br>
  </p>
  <br>
  <p>
    <%= f.label :race, "Champion Race:" %>
    <%= f.select :race, Champion::RACE, include_blank: 'Select race', required: true %><br>
  </p>
  <br>
  <p>
    <%= f.label :classification, "Champion Class:" %> 
    <%= f.select :classification, Champion::CLASS, include_blank: 'Select class', required: true %><br>
  </p>
  <br>
  <p>
    <%= f.fields_for :inventory_items, InventoryItem.new do |attr| %>
      <p>
        <%= attr.label :weapon_type, "Weapon Type:" %>
        <%= attr.collection_select(:weapon_id, Weapon.all, :id, :weapon_type, prompt: 'Select weapon type') %><br>
      </p>
      <br>
      <p>
        <%= attr.label "Name Your Weapon:" %>
        <%= attr.text_field :weapon_name %>
      </p>
    <% end %><br>
  </p>
  <p>
    <%= f.submit "Create Champion" %> 
  </p>
<% end %> 