<h1><%= @champion.name %></h1>
<hr>
<h2><u>Traits</u></h2>
Race: <%= @champion.race %><br> 
Class: <%= @champion.classification %><br>

<h2><u>Weapons</u></h2>
<ul>
  <% @champion.inventory_items.each do |weapon| %> 
    <li>
      <%= link_to weapon.weapon_name, weapon_path(weapon) %>
    </li>
  <% end %> 
</ul>
<br>
<hr>
<%= link_to "Create a Weapon", new_champion_weapon_path(@champion) %><br>
<%= link_to "Your Weapons", champion_weapons_path(@champion) %><br>
<%= link_to "Delete Champion", champion_path, method: :delete %><br>
<%= link_to "Your Champions", champions_path %> 