<h1><%= @champion.name %></h1><br> 

<h2>Traits</h2> 
<%= @champion.race %><br> 
<%= @champion.classification %><br>

<h2>Weapons</h2>
<ul>
  <% @champion.weapons.each do |weapon| %> 
    <li>
      <%= weapon.name %> 
    </li>
  <% end %> 
</ul> 

<%= link_to "Your Champions", champions_path %> 