<h1><%= @champion.name %></h1>

<h3><u>Traits</u></h3>
<p>
  Race: <%= @champion.race %><br> 
  <br>
  Class: <%= @champion.classification %><br>
</p>

<h3><u>Weapons</u></h3>
<p>
  <ul>
    <% @champion.inventory_items.each do |weapon| %> 
      <li>
        <p><%= link_to weapon.weapon_name, champion_inventory_item_path(@champion, weapon) %> - <%= link_to "Edit Weapon", edit_champion_inventory_item_path(weapon.champion, weapon) %></p>
      </li>
    <% end %> 
  </ul>
</p>
<br>
<hr>
<p>
  <%= link_to "Create A New Weapon", new_champion_inventory_item_path(@champion) %><br>
  <br>
  <%= link_to "Your Weapons", champion_weapons_path(@champion) %><br>
  <br>
  <%= link_to "Delete Champion", champion_path, method: :delete %><br>
  <br>
  <%= link_to "View All Champions", champions_path %>
</p>