<!DOCTYPE html>
<html>
  <head>
    <title>Leagueofchamps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" unless @hide_header %>
    <% flash.each do |k, v| %>
      <div class=<%= k %>>
        <p><%= v %></p>
      </div>
    <% end %>
    <%= yield %>
    <%= render "layouts/footer" unless !logged_in?%> 
  </body>
</html>
