<!DOCTYPE html>
<html>
  <head>
    <title>Leagueofchamps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <a class="navbar-brand" href="<%= root_url %>">Home</a>
    </nav>
    <%= yield %>
  </body>
</html>
