<!DOCTYPE html>
<html>
  <head>
    <title>Leagueofchamps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    # <footer class="branding">
    # <% if logged_in? %><br>
    #   # <a href="/logout"><input type="submit" value="Logout"></a>
    <% end %>
  </body>
</html>
